<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.greenvoice" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ActivityOpcao" />
        <activity android:name=".AddUserActivity" />
        <activity android:name=".AddOcorrenciaActivity" />
        <activity android:name=".ListaDeOcorrenciasActivity" />
        <activity android:name=".ActivityAnonimo" />
        <activity android:name=".ActivitySobre" />
        <activity android:name=".Activity_contate" />


    </application>

</manifest>